<main>
  <div class="row">
    <div class="albums">
      <h3>Albums de l'artiste {{nomArtist}}</h3>
      <div class="row">
        <!-- Liste d'albums d'un artiste choisi -->
        <div *ngFor="let a of spotify.albums">
          <p>

            <br>
            {{a.name}}
            <br>
            <img class="img-fluid" [src]="a.imageUrl" [alt]="a.name">
          </p>
          <a [routerLink]="['/song', a.name, a.id]">Chonson</a>
        </div>
      </div>
    </div>
  </div>

</main>